[submodule "libraries/tracy"]
	path = libraries/tracy
	url = https://github.com/wolfpld/tracy
[submodule "libraries/thread-pool"]
	path = libraries/thread-pool
	url = https://github.com/bshoshany/thread-pool
