[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "libraries/cocos-headers"]
	path = libraries/cocos-headers
	url = https://github.com/cgytrus/cocos-headers
[submodule "libraries/gd.h"]
	path = libraries/gd.h
	url = https://github.com/cgytrus/gd.h
[submodule "libraries/tracy"]
	path = libraries/tracy
	url = https://github.com/wolfpld/tracy
[submodule "libraries/thread-pool"]
	path = libraries/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "libraries/mat-dash"]
	path = libraries/mat-dash
	url = https://github.com/matcool/mat-dash
[submodule "libraries/hackpro"]
	path = libraries/hackpro
	url = https://github.com/absoIute/Mega-Hack-Extensions
